a {
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  text-decoration: none;
}
a:hover {
  color: blue;
}
body {
  background-color: rgba(148, 240, 255, 255);
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/056/702/original/cute-earth-mascot-character-save-earth-cartoon-icon-illustration-free-vector.jpg?1670329359);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  background-size: 700px;
  font-family: sans-serif;
  margin: 40px 0 auto;
  max-width: 90%;
}
footer {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  font-size: 18px;
  text-align: left;
  margin-left: 150px;
  margin-bottom: 30px;
}
h1 {
  color: rgb(53, 47, 47);
  font-size: 40px;
  text-align: center;
}
h2 {
  color: rgb(53, 47, 47);
  margin: 0 0 5px;
  font-size: 25px;
}
i {
  font-size: 20px;
}
select {
  display: block;
  margin: auto;
  width: 80%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
}
.container {
  background: rgba(255, 255, 255, 0.329);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  border-radius: 20%;
  margin: 60px 150px 60px 20px;
  max-width: 60%;
  padding: 20px;
}
.city {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 20px 0;
}
.city:last-child {
  border: none;
}
.date {
  font-size: 16px;
  margin-bottom: 5px;
  margin-left: 68px;
  opacity: 0.7;
}
.homepage {
  display: block;
  margin: 0 auto;
  padding: 5px;
}
img {
  max-width: 50px;
  margin: 0 5px 0;
}
.time {
  color: rgb(53, 47, 47);
  font-size: 38px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  line-height: 36px;
  vertical-align: middle;
}
.weatherApp,
.homepage {
  display: block;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
}
